<div class="container">
  <div class="row">
    <h3><mark>商品新規登録</mark></h3>
  <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
    <div class="col-md-5">
      <div>
        <%= attachment_image_tag @item, :image, :fill, 300, 180, format: 'jpeg' %>
      </div>
      <div>
        <%= f.attachment_field :image %>
      </div>
    </div>
    <div class="col-md-7">
        <div>
          <p>
            <%= f.label :name, "商品名" %>
            <%= f.text_field :name%>
          </p>
        </div>
        <div>
          <p>
            <%= f.label :introduction, "商品説明" %>
            <%= f.text_area :introduction%>
          </p>
        </div>
        <div>
          <p>
            <!--<= f.label :genre_id, "ジャンル" >-->
            <!--<= f.select :genre_id, [["ケーキ"], ["焼き菓子"], ["プリン"], ["キャンディ"]], include_blank: "--選択してください--" >-->
          </p>
        </div>
        <div>
          <p>
            <%= f.label :price, "税抜価格" %>
            <%= f.text_field :price%>円
          </p>
        </div>
        <div>
          <p>
            <%= f.label :is_active, "販売ステータス" %>
            <%= f.select :is_active, [["販売中", true], ["売切れ", nil]], {include_blank: "--選択してください--"}%>
          </p>
        </div>
        <div>
          <%= f.submit "新規登録", class: "btn btn-info active" %>
        </div>
    </div>

    <div>
    </div>
  <% end %>
  </div>
</div>