<div class="container">
  <div class="row">
    <h3><mark>注文履歴一覧</mark></h3>
    <table class="table table-bordered">
      <thead>
          <th class="active created_at">注文日</th>
          <th class="active addresses">配送先</th>
          <th class="active order_items">注文商品</th>
          <th class="active pay">支払金額</th>
          <th class="active status">ステータス</th>
          <th class="active">注文詳細</th>
      </thead>

      <% @orders.each do |order| %>
      <tbody>
        <th><%= order.created_at.strftime('%Y/%m/%d') %></th>
        <th><%= order.postal_code %></br>
            <%= order.address %></br>
            <%= order.name %></br>
        </th>
      <% end %>
      <% @orders.each do |order| %>
        <th></th>
        <th></th>
        <th></th><!-- <%= order.status %> -->
        <th><%= link_to "注文詳細", order_path(order) %></th>
      </tbody>
      <% end %>
    </table>
  </div>
</div>